* {

  color: black;
  font-family: 'Open Sans', sans-serif;

}

.navbar {
  width: 100%;
  background-color: #006eb9 overflow: auto;
}

/* Navigation links */
.navbar .navbt {
  float: left;
  padding: 12px;
  color: #006eb9;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;
  /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar .navbt:hover {
  background-color: #006eb9;
}

/* Style the current/active link */
.navbar .navbt.active {
  background-color: #006eb9;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar .navbt {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    /* If you want the text to be left-aligned on small screens */
  }
}

.experience {
  background-color: #006eb9 margin-left: 0px;
  margin-right: 0px;
}

.ban {
  background-color: #006eb9;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}



.con {
  background-color: #006eb9;
}

.back {
  background-color: #ffcd24;

}

.banner {
  background-color: #006eb9 justify-content: stretch;
}

.bannerimg {
  width: 150px;
  border-radius: 50px;
  display: block;
  margin: auto;
}

.banner p {
  color: black;
  display: block;
}

.about {
  background-color: #9cc8e3;
  padding-top: 30px;
  padding-bottom: 30px;
}

.skillcard {
  display: block;
  width: 75px;
  padding-top: 25px;
}

.skillpad {
  padding-top: 25px;
  background-color: #006eb9;
  text-align: center;
}

.projpad {
  padding-top: 25px;
  padding-bottom: 25px;
}

.cardbg {
  background-color: #006eb9
}

.conpad {
  padding-top: 25px;
  border-top: 25px;
}

#cont {
  background-color: #ffcd24
}

#edu {
  color: white;
}